@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 40, 40, 40;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 230, 230, 230;
    --background-rgb: 25, 25, 25;
  }
}
* {
  scroll-behavior: smooth;
  scroll-snap-align: center;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.background-container {
  background: radial-gradient(
        circle,
        transparent 20%,
        rgba(255, 255, 255, 0) 20%,
        rgba(255, 255, 255, 0) 80%,
        transparent 80%,
        transparent
      )
      0% 0% / 22px 22px,
    radial-gradient(
        circle,
        transparent 20%,
        rgba(255, 255, 255, 0) 20%,
        rgba(255, 255, 255, 0) 80%,
        transparent 80%,
        transparent
      )
      11px 11px / 22px 22px,
    linear-gradient(#171717 9.5px, transparent 9.5px) 0px -4.75px / 11px 11px,
    linear-gradient(90deg, #171717 9.5px, rgba(255, 255, 255, 0) 9.5px) -4.75px 0px /
      11px 11px rgba(255, 255, 255, 0);
  background-size: 22px 22px, 22px 22px, 11px 11px, 11px 11px;
  background-color: rgba(255, 255, 255, 0);
}

.cursor-background {
  width: 500px;
  height: 500px;
  border-radius: 50%;

  /* //  radial fadeout  */

  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgb(124, 124, 124) 0%,
    rgba(77, 77, 77, 0.5) 45%,
    rgba(49, 49, 49, 0.2) 75%,
    rgba(0, 0, 0, 0) 98%
  );
  opacity: 0;
}
